// COLOR PALETTE


$primary: #f1f1f1;
$white: #ffffff;
$accent: #4c61fc;

$text1:#393967;
$text2: #d3d2dc;



//FONT FAMILY

$theme-font: "Poppins, sans-serif";


// FONT SIZE


$font-size: 16px;


// BREAKPOINTS


$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


// Z-INDEX

$-z-index: -10;
$-z-index2: -20;
$-z-index3: -30;
$-z-index4: -40;
$-z-index5: -50;

$z-index: 10;
$z-index2: 20;
$z-index3: 30;
$z-index4: 40;
$z-index5: 50;





// SPACING


$spacing: 8px;